@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@config "./tailwindcss-config.js";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #03031e;
  font-family: "source-code-pro";
}

main {
  background-color: #03031e;
  font-family: "source-code-pro";
}



#about-content {


  backdrop-blur-sm
}


@layer base {
  @font-face {
    font-family: "source-code-pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/source-code-pro.woff2) format("woff2");
  }
}
